
@import url(https://github.com/itfoundry/Poppins.git);

a:link{
    text-decoration:none
  }

.navbar {
    background-color: #E0E0E0;
    

}

.navbar > * {
    display: inline-block;
    font-size: 22px;
    background-color: #E0E0E0;
    padding: 20px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 20px;

}

li{
    display: inline;
    padding: 50px;
    margin-left: 50px;
    font-family: "Poppins";

}

.nav-link {
    color: #000;


}
    
.principal {
        background-color: #e5f0fd;
        padding: 5% 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    

}

.principal .titulouno h1 {
    font-family: "Poppins";
    font-size: 60px;
    line-height: 61px;
    color: #000000;
}

.principal .titulouno h3 {
    font-family: "Poppins";
    font-size: 42px;
    line-height: 61px;
    color: #000000;
}
